div.container-fluid
    div.nav.mt-2.mb-2
        a.nav-link(href="/view" class=active == 'view' ? 'active' : '') view
        a.nav-link(href="/present" class=active == 'present' ? 'active' : '') present
        a.nav-link(href="/make" class=active == 'make' ? 'active' : '') make
        if user
            a.nav-item.dropdown
                a.nav-link.ml-auto(href="javascript:;" data-toggle="dropdown" role="button" class=active == 'account' || active == 'presentations' ? 'active' : '')= user.username
                div.dropdown-menu
                    a.dropdown-item.nav-link(href="/user/" + user.username + "/account" class=active == 'account' ? 'active' : '') account
                    a.dropdown-item.nav-link(href="/user/" + user.username + "/presentations" class=active == 'presentations' ? 'active' : '') presentations
                    a.dropdown-item.nav-link(href="/logout") logout

        else
            a.nav-link.ml-auto(href="/login" class=active == 'login' ? 'active' : '') login